@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    
}




.searching {
  background-color: rgb(0, 0, 0);
  background-image: radial-gradient(at 0% 0%, rgb(63, 51, 238) 0, transparent 67%);
}


.image-card-shadow {
  position: absolute;
  width: 80%;
  height:80%;
  background-image: inherit;
  background-size: cover;
  border-radius: var(--radius);
  overflow: hidden;
  filter: blur(66px);
  opacity: 100%;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, 0%);
}
.image-card-shadow-mobile {
  position: absolute;
  width: 100%;
  height:100%;
  background-image: inherit;
  background-size: cover;
  border-radius: var(--radius);
  overflow: hidden;
  filter: blur(47px);
  opacity: 100%;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, 0%);
}

.lp-image-card-shadow {
  position: absolute;
  width: 80%;
  height:80%;
  background-image: inherit;
  background-size: cover;
  border-radius: var(--radius);
  overflow: hidden;
  filter: blur(60px);
  opacity: 100%;
  transform: translate(-20%, 0%);
}


.w-screen {
  width: 20rem;
}



@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .w-screen {
    width: 100%;
   
  }



}


.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
 
  ::-webkit-scrollbar {  /* Chrome */
    display: none;
}
}



.artist-card-shadow {
  
  width: 100%;
  height:100%;
  background-image: inherit;
  background-size: cover;
  border-radius: var(--radius);
  filter: blur(40px);
  border-radius:0%;
  opacity: 100%;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, 0%);
}





.bg-shape1 {
  width: 350px;
  height: 400px;
  border-radius: 9999px;
  position: relative;


}

.bg-shape2 {
  width: 350px;
  height: 300px;
  border-radius: 9999px;
  position: relative;
}

.bg-shape3 {

  width: 700px;
  height: 700px;
  border-radius: 9999px;
  position: relative;
}






.shape-bg-blur {
  filter: blur(90px)
}

.bg-first{
  background-color: rgb(138, 79, 255)

}

.bg-second {
  background-color: rgb(34, 10, 57)
  
}

.bg-main{
  background-color: rgb(52, 40, 96)
  
}



/* Landing Page*/

.scroll-reveal span {
  color: hsl(0 0% 100% / 0.2 );
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 0 100%;
  background-image: linear-gradient(40deg, rgb(222, 222, 222), rgb(92, 92, 250));
  -webkit-animation: scroll-reveal linear forwards; /* Vendor Prefix */
  animation: scroll-reveal linear forwards;
  animation-timeline:  view(); /* Consider vendor prefixes here too */
}

.scroll-reveal p span{
  animation-range-start: cover 40vh;
  animation-range-end: cover 120vh;
}

@-webkit-keyframes scroll-reveal { /* Safari & Chrome */
  to { background-size:  100% 100%; } /* Add closing curly brace here */
}

@keyframes scroll-reveal { /* Standard */
  to { background-size:  100% 100%; }
}




.scroll-color {

  color: hsl(0 0% 100% / 0.2 );
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: linear-gradient(40deg, rgb(222, 222, 222), rgb(92, 92, 250));
}



.default-color {
  color: hsl(0 0% 100% / 0.2 );
}


.appear {
  animation: pulse 2s ease-in;
}

@keyframes pulse { 
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1; 
  }
}