@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.backgroundLP { 
  filter: contrast(160%) brightness(100%);
 

}


.searching {
  background-color: rgb(0, 0, 0);
  background-image: radial-gradient(at 0% 0%, rgb(63, 51, 238) 0, transparent 67%);
}


.image-card-shadow {
  position: absolute;
  width: 80%;
  height:80%;
  background-image: inherit;
  background-size: cover;
  border-radius: var(--radius);
  overflow: hidden;
  filter: blur(60px);
  opacity: 100%;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, 0%);
}


.w-screen {
  width: 20rem;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .w-screen {
    width: 100%;
   
  }

}


.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}